examples/flows.json
[
    {
        "id": "83c8b65cc19fef1b",
        "type": "viteyss-instance",
        "z": "5019223acfcf272b",
        "name": "vanillaInst",
        "server": "4acaf08af1b814e9",
        "x": 360,
        "y": 120,
        "wires": [
            [
                "51c6b3845d834832"
            ]
        ]
    },
    {
        "id": "cba7360a9083f942",
        "type": "inject",
        "z": "5019223acfcf272b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "and/mag",
        "payload": "10",
        "payloadType": "num",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "83c8b65cc19fef1b",
                "f7f5504b6eec4e72"
            ]
        ]
    },
    {
        "id": "d0509cad55ccd0f7",
        "type": "inject",
        "z": "5019223acfcf272b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "and/mag",
        "payload": "20",
        "payloadType": "num",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "83c8b65cc19fef1b",
                "f7f5504b6eec4e72"
            ]
        ]
    },
    {
        "id": "51c6b3845d834832",
        "type": "debug",
        "z": "5019223acfcf272b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 200,
        "wires": []
    },
    {
        "id": "4acaf08af1b814e9",
        "type": "viteyss-config",
        "iname": "vanilla",
        "hostpublicip": "localhost",
        "runhttps": false,
        "host": "localhost",
        "port": "8083",
        "wshost": "localhost",
        "wsport": "3999",
        "pathstosites": "",
        "pathtoyss": "",
        "sitesopts": "plugins,node-yss,viteyss/sites,node-red,home"
    }
]